body {
    margin: 0;
    min-width: 300px;
}

.main {
    display: grid;
    width: 100%;
}

.all-columns {
    grid-template-columns: 1rem repeat(12, 1fr) 1rem;
    width: 100%;
}

.col-14 {
    grid-column-start: 1;
    grid-column-end: 15;
}

@media (min-width: 650px) {
    .all-columns {
        grid-template-columns: 61px repeat(12, 1fr) 61px;
    }
}

@media (min-width: 1280px) {
    .all-columns {
        grid-template-columns: auto repeat(12, 106.666667px) auto;
    }
}
